#set ($subject = "Bin Transfer Approval OTP")
<b>Please find the Bin Transfer details below:</b>
<html>
  <head>
  <style>
    th, td {
      padding: 5px;
    }
    th {
      font-weight: normal;
      text-align: left;
    }
  </style>
  </head>
  <body>
  <br>
  <br>
  #if($thisStore)
    Store Name: $thisStore<br>
  #end
  #if($storeID)
    Store ID: $storeID<br>
  #end
   #if($documentID)
    Document ID: $documentID<br><br>
  #end
  #if($itemDetails)
    <b>ItemDetails<b>: $itemDetails<br>
  #end
   #if($otp)
    <b> Please find the approval OTP for Bin Transfer from DAMAGED To ON_HAND: $otp </b><br>
  #end
  <br>
  <u>Bin Transfer Approval OTP</u>
  <br>
  </body>
</html>

Regards,
Store Team.
