#set ($subject = "Bank Transfer Approval OTP")
Please find the Bank Transfer transaction details
<html>
  <head>
  <style>
    th, td {
      padding: 5px;
    }
    th {
      font-weight: normal;
      text-align: left;
    }
  </style>
  </head>
  <body>
  <br>
  <br>
  #if($thisStore)
    Store Name: $thisStore<br>
  #end
  #if($thisStoreAdress)
    Store Address: $thisStoreAdress<br>
  #end
   #if($transactionSeq)
    Transaction Number: $transactionSeq<br>
  #end
   #if($amountDue)
    Tendered Amount: $amountDue<br>
  #end
  <br>
   #if($otp)
    <b> Please find the Bank Transfer approval OTP: $otp </b><br>
  #end
  </body>
</html>

Regards,
Store Team.