#set ($subject = "Return Approval OTP")
Please find the return transaction details
<html>
  <head>
  <style>
    th, td {
      padding: 5px;
    }
    th {
      font-weight: normal;
      text-align: left;
    }
  </style>
  </head>
  <body>
  <br>
  <br>
  #if($thisStore)
    Store Name: $thisStore<br>
  #end
   #if($transactionSeq)
    Transaction Number: $transactionSeq<br>
  #end
   #if($amountDue)
    Refund Amount: $amountDue<br>
  #end
  <br>
   #if($otp)
    <b> Please find the return approval OTP: $otp </b><br>
  #end
  <br>
  <u>Return Approval OTP</u>
  <br>
  </body>
</html>